{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>VULNSCAN</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="navbar">
        <div class="logo">VULNSCAN</div>
        
        <div class="nav-links">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'start_scan' %}">Start Scan</a>
            <a href="{% url 'Scan_Result' %}">Scan Results</a>
            <a href="{% url 'alerts' %}">Alerts</a>
        </div>

    </div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>

</html>